@import './base.css';

/* #app {  
  margin: 0 auto;
  padding: 2rem;
  
} */  

  body{
    background: rgb(197, 212, 224);
    display: flex;
    justify-content: center; 
    align-items: center;

  }
