@import './base.css';

/* #app {  
  margin: 0 auto;
  padding: 2rem;
  
} */  

  body{
    background: rgb(241, 245, 248);
    display: flex;
    justify-content: center; 
    align-items: center;

  }
